In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
Bitcoin = pd.read_csv("Bitcoin.csv")

In [24]:
Bitcoin

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Market Cap
0,0,2017-09-22,3628.02,3758.27,3553.53,3630.70,1.194830e+09,60152300000
1,1,2017-09-21,3901.47,3916.42,3613.63,3631.04,1.411480e+09,64677600000
2,2,2017-09-20,3916.36,4031.39,3857.73,3905.95,1.213830e+09,64918500000
3,3,2017-09-19,4073.79,4094.07,3868.87,3924.97,1.563980e+09,67520300000
4,4,2017-09-18,3591.09,4079.23,3591.09,4065.20,1.943210e+09,59514100000
...,...,...,...,...,...,...,...,...
1604,1604,2013-02-05,116.38,125.60,92.28,105.21,6.722784e+06,1292190000
1605,1605,2013-01-05,139.00,139.89,107.72,116.99,8.026719e+06,1542820000
1606,1606,2013-04-30,144.00,146.93,134.05,139.00,8.312655e+06,1597780000
1607,1607,2013-04-29,134.44,147.49,134.00,144.54,7.757951e+06,1491160000
1608,1608,2013-04-28,135.30,135.98,132.10,134.21,7.806648e+06,1500520000

In [46]:
from datetime import datetime
datetime.strptime(Bitcoin["Date"], "%Y-%m-%d")

TypeError: strptime() argument 1 must be str, not Series

In [47]:
from datetime import datetime
DATE = []
for i in range(len(Bitcoin["Date"])):
    a = datetime.strptime(Bitcoin["Date"][i], "%Y-%m-%d")
    if (a >= datetime.datetime(2016, 6) and a <= datetime.datetime(2017,6)):
        Date.append(a)
DATE

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'

In [ ]:
Bitcoin_Open = Bitcoin["open"].groupby(by=Bitcoin["Date"])